@import url("https://fonts.googleapis.com/css?family=Baskervville|Comfortaa&display=swap");

body {
  height: 100%;
  width: 100%;
  background-color: #222222;
  touch-action: none;
}

.menu {
  height: 20vh;
  text-align: center;
}

a {
  text-decoration: none;
}
#notebox {
  height: 10vh;
  text-align: center;
  font-size: 6vh;
  justify-content: center;
}

#main-image {
  background-image: url("assets/images/geert-pieters-8QrPJ3Kfie4-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.text {
  color: #e9e3d3;
  font-family: "Comfortaa", cursive;
}

/*Styling for the piano layout and keys*/

button:focus {
  outline: 0;
}

#piano {
  height: 68vh;
  width: 85vw;
  max-height: 500px;
}
.key {
  background-color: #f8f2e0;
  height: 100%;
  width: 12%;
  margin: 0.1428%;
  border: #e9e3d3;
  border-width: 7px;
  border-style: outset;
}

.sharp {
  background-color: #313131;
  height: 40%;
  max-height: 300px;
  width: 7%;
  position: absolute;
  top: 20vh;
  border: #363636;
  border-width: 12px;
  border-style: outset;
}
/* Places sharp keys in correct location*/
#csharp-key {
  left: 15.4%;
}

#dsharp-key {
  left: 25.6%;
}

#fsharp-key {
  left: 45.9%;
}

#gsharp-key {
  left: 56.2%;
}

#asharp-key {
  left: 66.4%;
}

/*Landing page styling*/
#landing-page {
  height: 100vh;
}

.landing-box {
  padding: 25% 15%;
  margin-top: 20%;
}

/*Custom media queries*/
@media (orientation: portrait) {
  .landscape {
    display: none;
  }
}

@media (orientation: landscape) {
  .portrait {
    display: none;
  }
}
