@import url("https://fonts.googleapis.com/css?family=Baskervville|Comfortaa&display=swap");

body {
  height: 100%;
  width: 100%;
  background-color: #222222;
  touch-action: none;
}

.menu {
  height: 29vh;
  text-align: center;
}

a {
  text-decoration: none;
  color: inherit;
}

.grey {
  height: 20vh;
}

.text {
  color: #e9e3d3;
  font-family: "Comfortaa", cursive;
}

#landing-page {
  background-image: url("assets/images/geert-pieters-8QrPJ3Kfie4-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#landing-content {
  height: 60vh;
  background-color: #1e1e1f63;
}

.landing-box {
  padding: 25% 15%;
  margin-top: 20%;
}
/*Styling for the piano layout and keys*/

button:focus {
  outline: 0;
}

#notebox {
  height: 100%;
  text-align: center;
  font-size: 10vh;
  justify-content: center;
}

#piano {
  height: 68vh;
  width: 85vw;
  max-height: 500px;
}
.key {
  background-color: #f8f2e0;
  height: 100%;
  width: 12%;
  margin: 0.1428%;
  border: #e9e3d3;
  border-width: 7px;
  border-style: outset;
}

.sharp {
  background-color: #313131;
  height: 40%;
  max-height: 300px;
  width: 7%;
  position: absolute;
  border: #363636;
  border-width: 12px;
  border-style: outset;
}
/* Places sharp keys in correct location*/
#csharp-key {
  left: 15.4%;
}

#dsharp-key {
  left: 25.6%;
}

#fsharp-key {
  left: 45.9%;
}

#gsharp-key {
  left: 56.2%;
}

#asharp-key {
  left: 66.4%;
}

/*Footer styling*/

#footer {
  font-size: 1rem;
}

/*Custom media queries*/
@media (orientation: portrait) {
  .landscape {
    display: none;
  }
}

@media (orientation: landscape) {
  .portrait {
    display: none;
  }
}

@media (max-width: 786px) {
  h1 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1rem;
  }
  h4 {
    font-size: 1rem;
  }
  #footer {
    font-size: 0.5rem;
  }
}
